/* Write your CSS here */
.bg-conatiner {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.heading {
  font-size: 40px;
}

.search-conatiner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: white;
  margin-bottom: 7px;
}

.search-bar {
  height: 40px;
  border-style: none;
}

.image-search {
  height: 30px;
}
.tabs-container {
  margin-top: 6px;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-bottom: 7px;
}
.line {
  border-style: solid;
  border-color: black;
  width: 350px;
  border-width: 1px;
}
.project-item-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #183b56;
  margin: 0;
}

.project-list-container {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 50px;
}
