/* Write your CSS here */
.project-item-container {
  width: 150px;
  background: #ffffff;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding-top: 5px;
}
.project-item-image {
  margin-top: 10px;
  width: 70px;
  border: 1px solid transparent;
  border-radius: 5px;
}
